:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a9a9a9;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-image: url('https://media.giphy.com/media/JIX9t2j0ZTN9S/giphy.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  background-color: #2e2e2e;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




canvas {
    background-color: white;
    border: 1px solid black;
    border-radius: 8px; /* friendly rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* nice drop shadow effect */
}


.inputs {
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px; /* This gives the border rounded corners */
    padding: 10px; /* Optional: Adds some space inside the div */
}

.inputs > * {
    margin-bottom: 15px; /* increases spacing between elements */
}


.tab-selection-button.active {
    background-color: orange;
    color: white;
}


.tab-div {
  border: 2px solid black;
  border-radius: 10px; /* This gives the border rounded corners */
  padding: 15px;
}

input[type="range"].marker-red-slide::-webkit-slider-runnable-track {
    background: linear-gradient(to right, black, red);
}

input[type="range"].marker-green-slide::-webkit-slider-runnable-track {
    background: linear-gradient(to right, black, green);
}

input[type="range"].marker-blue-slide::-webkit-slider-runnable-track {
    background: linear-gradient(to right, black, blue);
}
.marker-red-slide {
    background: linear-gradient(to right, black, red);
}

.marker-green-slide {
    background: linear-gradient(to right, black, green);
}

.marker-blue-slide {
    background: linear-gradient(to right, black, blue);
}
